body, h1, p, a {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.main {
  background-color: #e3c5ae;
}

.main .card {
  background-color: #fff;
  border-radius: 5%;
  box-shadow: 5px 5px 5px 0 #998c7a;
  height: 500px;
  margin: 150px auto;
  max-width: 450px;
}

@media screen and (max-width: 759px) {
  .main .card {
    max-width: 360px;
  }
}

.main .card header img {
  background-image: url("../images/pattern.jpg");
  border-radius: 20px 20px 0 0;
  height: 200px;
  width: 500px;
}

.main .card section img {
  border: 7px solid #edd9c3;
  border-collapse: collapse;
  border-radius: 50%;
  height: 180px;
  margin: -120px auto;
}

.main .card main h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.75em;
  line-height: 1.36364em;
  border-bottom: 1px solid #969696;
  font-weight: 700;
  margin: 50px auto 5px;
  padding: 72px 25px 30px 0;
  text-align: center;
}

.main .card main h1 span {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #969696;
  font-weight: 400;
  font-size: 1rem;
}

.main .card main .info {
  display: flex;
  justify-content: space-around;
}

.main .card main .info div img {
  height: 40px;
  margin: 20px auto 0;
}

.main .card main .info div p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: inline-block;
  font-weight: 700;
  padding: 0 33px;
  text-align: center;
}

.main .card main .info div a {
  color: black;
  text-decoration: none;
}

.main .card main .info div a:hover {
  color: #e3c5ae;
  transition: .3s;
}

@media screen and (max-width: 759px) {
  .main .card main .info div p, .main .card main .info div a {
    font-size: 0.95em;
  }
}

.main footer {
  color: #696869;
  font-family: type-1(11);
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
