.main{
    background-color: $main-color;

    .card {
        background-color: $back-color;
        border-radius:5%;
        box-shadow: 5px 5px 5px 0 $shadow-color;
        height: 500px;
        margin: 150px auto;
        max-width: 450px;
        @include device(sm) {
            max-width: 360px;
        }
        
        header img{
            background-image: url('../images/pattern.jpg');
            border-radius: 20px 20px 0 0;
            height:200px;
            width:500px;
        }
        section img {
            border: 7px solid #edd9c3;
            border-collapse: collapse;
            border-radius: 50%;
            height: 180px;
            margin: -120px auto;
        }
        main {
            h1{
                @include type-1(22);
                border-bottom: 1px solid $last-color;
                font-weight: 700;
                margin: 50px auto 5px;
                padding:72px 25px 30px 0;
                text-align: center;
                span {
                    @include span;
                    font-size: 1rem;
                }
            }
            .info{
                display: flex;
                justify-content: space-around;

                div {
                    img{
                        height: 40px;
                        margin: 20px auto 0;
                    }
                    p{
                        @include type-1(18);
                        display: inline-block;
                        font-weight: 700;
                        padding: 0 33px;
                        text-align: center;
                    }
                    a {
                        color: $primary-color;
                        text-decoration: none;
                        &:hover {
                            color: $main-color;
                            transition: .3s;
                        }
                    }
                    @include device(sm) {
                        p, a {
                            font-size: 0.95em;
                        }
                    }
                }
            }
        }
    }
    
    footer {
        color: $secondary-color;
        font-family: type-1(11);
        justify-content: center;
        text-align: center; 
        text-decoration: none;
    }
}